* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1a1a1a;
    color: #cccccc;
    -webkit-font-smoothing: antialiased;
}


body, button, input, textarea {
    font-weight: 400;
    font-size: 1rem;
}