.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr; /* significa que a primeira coluna irá ter 256px fixos e a segunda irá se ajustar de acordo com o que couber */
    gap: 2rem;
    align-items: flex-start; /* Alinhar os dois no topo com seus tamanhos originais */
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}